﻿@model ExamOverviewViewModel
@{
    ViewData["Title"] = "Dashboard";
}

<br />
<div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>Achtung!</strong> Sie müssen die Formulare <b>rechtzeitig</b> im Sekretariat abgeben!
    <br />

    Beachten Sie die unterschiedlichen <b>An- und Abmeldefristen</b> der Prüfungstermine!
</div>

<div class="row">
    <div class="col-md-10">
        <table class="table table-responsive" style="margin-top:15px;">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Exams[0].Subject.SubjectName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Exams[0].Teacher.DisplayName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Exams[0].FailedTerm)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Exams[0].Repetition)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Exams[0].Appointment)
                </th>
                <th></th>
            </tr>
            @foreach (var exam in Model.Exams)
            {
                <tr>
                    <td>
                        @exam.Subject.SubjectName
                    </td>
                    <td>
                        @exam.Teacher.DisplayName
                    </td>
                    <td>
                        @exam.FailedTerm
                    </td>
                    <td>
                        @switch (exam.Repetition)
                        {
                            case 1:
                                <span>1. Wiederholung</span>
                                break;
                            case 2:
                                <span>2. Wiederholung</span>
                                break;
                            default:
                                <span>Semesterprüfung</span>
                                break;
                        }
                    </td>
                    <td>
                        <span title="Frist bis @Nost.Web.Helper.ExamHelper.GetExpireDate(exam,Model.ExamAppointments).ToShortDateString()">@String.Format("{0:dd.MM.yyyy}", exam.Appointment.ExamAppointmentDate)</span>
                    </td>
                    <td>
                        <a asp-action="DownloadPdf" asp-route-examId="@exam.Id" class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-download-alt"></span> Formular herunterladen
                        </a>
                        @if (Nost.Web.Helper.ExamHelper.HasExpired(exam, Model.ExamAppointments) == false)
                        {
                            <span class="text-danger" title="Frist bis @Nost.Web.Helper.ExamHelper.GetExpireDate(exam,Model.ExamAppointments).ToShortDateString()"><span class="glyphicon glyphicon-ban-circle"></span> Abmeldefrist abgelaufen</span>
                        }
                        else
                        {
                            <button class="btn btn-danger btn-sm" type="button" data-toggle="modal" data-target="#confirmModal_@exam.Id">
                                <span class="glyphicon glyphicon-trash"></span>&nbsp;Löschen
                            </button>
                            <div class="modal fade" id="confirmModal_@exam.Id" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            <h4 class="modal-title" id="confirmModalLabel">Löschen</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p><b>Achtung!</b></p>
                                            <p>Prüfung wird endgültig gelöscht!</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
                                            <a asp-action="DeleteExam" asp-route-examId="@exam.Id" class="btn btn-danger">Prüfung löschen</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </td>
                </tr>
            }

        </table>
    </div>
    <div class="col-md-2">
        <div class="well">
            <h4>@Html.DisplayFor(m => m.Student.FullName)</h4>
            <br />
            @Html.DisplayFor(m => m.Student.SchoolClass)
            <br />
            @Html.DisplayFor(m => m.Student.Department)
        </div>
    </div>
</div>

<div class="row">
    @if (Model.isStudentsDepartmentExisting)
    {
        <div class="col-md-6">
            <form>
                <button class="btn btn-block btn-lg btn-warning" asp-action="RegisterExam" formmethod="get"><i class="glyphicon glyphicon-copy"></i> Zur Prüfung anmelden</button>
            </form>
        </div>
    }
    else
    {
        <div class="col-md-6">
            <h3 class="text-danger">Deine Abteilung kann noch keine Prüfungen anmelden.<br /> Bitte melde diesen Vorfall im Sekretariat.</h3>
        </div>
    }
</div>

@if (Model.OldExams.Count != 0)
{
    <div class="row" style="margin-top:15px;">
        <div class="col-md-12">
            <h4>Abgelaufene Prüfungen</h4>
            <table class="table table-responsive" style="margin-top:15px;">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Exams[0].Subject.SubjectName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Exams[0].Teacher.DisplayName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Exams[0].FailedTerm)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Exams[0].Repetition)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Exams[0].Appointment)
                    </th>
                </tr>
                @foreach (var exam in Model.OldExams)
                {
                    <tr>
                        <td>
                            @exam.Subject.SubjectName
                        </td>
                        <td>
                            @exam.Teacher.DisplayName
                        </td>
                        <td>
                            @exam.FailedTerm
                        </td>
                        <td>
                            @switch (exam.Repetition)
                            {
                                case 1:
                                    <span>1. Wiederholung</span>
                                    break;
                                case 2:
                                    <span>2. Wiederholung</span>
                                    break;
                                default:
                                    <span>Semesterprüfung</span>
                                    break;
                            }
                        </td>
                        <td>
                            <span title="Frist bis @Nost.Web.Helper.ExamHelper.GetExpireDate(exam, Model.ExamAppointments).ToShortDateString()">@String.Format("{0:dd.MM.yyyy}", exam.Appointment.ExamAppointmentDate)</span>
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
}