﻿@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model Nost.Web.Models.AccountViewModels.LoginViewModel
@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Log in";
}

<h2>@ViewData["Title"]</h2>
<div class="row" style="height:282px;">
    <div class="col-md-6" style="height:100%;padding:5px;">
        <div class="panel @(null != Model && Model.IsValid?"panel-info":"panel-danger")" style="height:100%;">
            <div class="panel-heading">
                <h3 class="panel-title">Login 
                    @if (null != Model && !Model.IsValid)
                    {
                        <span style="font-weight:bold;">fehlgeschlagen</span>
                    }
                </h3>
            </div>
            <div class="panel-body @(null != Model && Model.IsValid?"bg-info":"bg-danger")">
                <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                    @*<div asp-validation-summary="All" class="text-danger"></div>*@
                    <div class="form-group">
                        <label asp-for="Username"></label>
                        <input asp-for="Username" class="form-control" />
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <br/>
                    <div>
                        <button type="submit" class="btn @(null != Model && Model.IsValid?"btn-info":"btn-danger") btn-block">Anmelden</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-6" style="height:100%;padding:5px;">
        <div class="well" style="height:100%;">
            <h3>Info</h3>
            <h4>Verwende dein Schulkonto um dich auf dieser Seite anzumelden.</h4>
        </div>
    </div>
</div>

    @section Scripts {
        @await Html.PartialAsync("_ValidationScriptsPartial")
    }
