﻿@model Nost.Web.Models.RegisteredExamListViewModel
@{
    ViewData["Title"] = "Angemeldete Prüfungen";
}
<h2>Angemeldete Prüfungen</h2>


<div class="row">
    <form asp-action="RegisteredExamTeacherList">
        <div class="form-group form-group-lg">
            <div class="col-lg-4">
                @Html.DropDownListFor(m => m.TeacherFilterId, Model.Teachers, "Lehrer auswählen",
                           new { @class = "form-control", onchange = "this.form.submit();" })
            </div>
        </div>
    </form>
    @if (Model.ExamAppointments != null && Model.ExamAppointments.Count > 0)
    {
        <form asp-action="DownloadExamAppointmentPdfByTeacher" method="get">
            @Html.HiddenFor(m => m.TeacherFilterId)
            <div class="input-group input-group-lg col-lg-offset-6 col-lg-6">
                <select class="form-control" name="examId">
                    @for (int i = 0; i < Model.ExamAppointments.Count; i++)
                    {
                        <option value="@Model.ExamAppointments[i].Id">
                                @Model.ExamAppointments[i].ExamAppointmentDate.ToShortDateString()
                        </option>
                    }
                </select>
                <span class="input-group-btn">
                    <button class="btn btn-primary">Prüfungszettel für ihre Schüler herunterladen</button>
                </span>
            </div>
        </form>
    }
</div>
<br />

@if (Model.Exams != null && Model.Exams.Count > 0)
{
    <table class="table table-striped table-responsive">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Exams[0].Student.UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Exams[0].Student.FullName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Exams[0].Student.SchoolClass)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Exams[0].Appointment.ExamAppointmentDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Exams[0].Subject.SubjectName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Exams[0].Teacher.DisplayName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Exams[0].FailedTerm)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Exams[0].FailedClass)
                </th>
                <th>
                    Semesterende/<br />Zeugnistag
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Exams[0].Repetition)
                </th>
                <th>
                    PC
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Exams)
            {
                if (item.Appointment.ExamAppointmentDate >= DateTime.Today)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Student.UserName)
                        </td>
                        <td title="@item.Student.FullName">
                            @Html.DisplayFor(modelItem => item.Student.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Student.SchoolClass)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Appointment.ExamAppointmentDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Subject.SubjectName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Teacher.DisplayName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FailedTerm)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FailedClass)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SemesterEnd.SemesterEndDate)
                        </td>
                        <td>
                            @switch (item.Repetition)
                            {
                                case 1:
                                    <text>1. Wiederholung</text>
                                    break;
                                case 2:
                                    <text>2. Wiederholung</text>
                                    break;
                                default:
                                    <text>Semesterprüfung</text>
                                    break;
                            }
                        </td>
                        <td>
                            @if (item.IsPcExam)
    {
                        <span class="glyphicon glyphicon-ok" title="PC Prüfung"></span>
}
else
{
                        <span class="glyphicon glyphicon-remove" title="Keine PC Prüfung"></span>
}
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
}
else{
    <div class="row">
        <h1 class="text-center text-danger">
            <span class="glyphicon glyphicon-info-sign"></span>&nbsp;<span>Derzeit keine Prüfungen vorhanden</span>
        </h1>
    </div>
}