﻿@model Nost.Web.Models.Admin.CreateExamForStudentViewModel
@{
    ViewData["Title"] = "Prüfung für Schüler erstellen - NOST";
}



@section Scripts
    {
    <link href="~/lib/jquery-ui/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <script type="text/javascript">
        $(document).ready(function () {
            $('#Exam_Teacher_DisplayName').autocomplete({
                source: '/Student/GetTeachers',

                select: function (event, ui) {
                    //set tagids to save
                    $("#Exam_TeacherId").val(ui.item.id);

                    //Tags for display
                    this.value = ui.item.value;
                    return false;
                }
            }).focus(function () {
                $(this).autocomplete("search", "*");
            });
            $('#Exam_Teacher_DisplayName').focusin(function () {
                $(this).attr("placeholder", "Verwenden sie ae oe ue statt ä ö ü zur Suche");
            });
            $('#Exam_Teacher_DisplayName').focusout(function () {
                $(this).attr("placeholder", "Wählen Sie einen Lehrer aus der Liste aus");
            });

        });


    </script>
}

<h2>Prüfung für einen Schüler erstellen</h2>

<div class="row">
    <form asp-action="CreateExamForStudent">

        <div class="form-group form-group-lg row">
            @Html.HiddenFor(m => m.Exam.Timestamp)

            <div class="col-sm-12">
                <h3>
                    <label class="col-form-label">Name:</label>

                    @Html.HiddenFor(model => model.Exam.StudentId)
                    @Html.DisplayTextFor(model => model.Exam.Student.FullName)

                </h3>
                <span asp-validation-for="@Model.Exam.StudentId" class="text-danger"></span>

            </div>
        </div>

        <div class="well well-lg" style="padding:15px">
            <h4>Ich melde mich zur Semesterprüfung aus</h4>

            @Html.HiddenFor(m=>m.Exam.DepartmentId)

            <div class="form-group form-group-lg row">
                <label class="col-sm-4 col-form-label">Zeugnisdatum <br />(des negativen Semesters)</label>
                <div class='col-sm-8'>
                    @Html.DropDownListFor(m => m.Exam.SemesterEndId, Model.SemesterEndDates,
                        "Ausstellungsdatum auswählen", new { @class = "form-control" })
                    <span asp-validation-for="@Model.Exam.SemesterEndId" class="text-danger"></span>
                </div>
            </div>


            <div class="form-group form-group-lg row">
                <label class="col-sm-4 col-form-label">Gegenstand</label>
                <div class="col-sm-8">

                    @Html.DropDownListFor(m => m.Exam.SubjectId, Model.Subjects, "Gegenstand auswählen",
                                                   new { @class = "form-control" })
                    <span asp-validation-for="@Model.Exam.SubjectId" class="text-danger"></span>

                </div>
            </div>
            <div class="form-group form-group-lg row">
                <label class="col-sm-4 col-form-label">PrüferIn</label>
                @*<div class="col-sm-10">
                        @Html.DropDownListFor(m => m.Exam.TeacherId, Model.Teachers, "Lehrer auswählen", new { @class = "form-control" })
                    </div>*@
                <div class="col-sm-8">
                    @Html.HiddenFor(model => model.Exam.TeacherId)
                    @Html.EditorFor(model => model.Exam.Teacher.DisplayName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Wählen Sie einen Lehrer aus der Liste aus" } })

                    <span asp-validation-for="@Model.Exam.TeacherId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group form-group-lg row">
                <label class="col-sm-4 col-form-label">Semester (der abzulegenden Prüfung)</label>
                <div class="col-sm-8">
                    <select class="form-control" asp-for="Exam.FailedTerm">
                        @for (int i = 1; i <= 10; i++)
                        {
                            <option value="@i">@string.Format("Semester {0}", i)</option>
                        }
                    </select>
                </div>
            </div>

            <div class="form-group form-group-lg row">
                <label class="col-sm-4 col-form-label">@Html.LabelFor(m => m.Exam.FailedClass)</label>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.Exam.FailedClass, new { @class = "form-control", @placeholder = "Die Klasse in der man negativ beurteilt wurde" })
                    <span asp-validation-for="@Model.Exam.FailedClass" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group form-group-lg row">
                <label class="col-sm-4 col-form-label">Datum der Prüfung</label>
                <div class='col-sm-8'>
                    @Html.DropDownListFor(m =>
                                       m.Exam.AppointmentId, Model.ExamAppointments, "Termin auswählen", new { @class = "form-control" })
                    <span asp-validation-for="@Model.Exam.AppointmentId" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label>Es handelt sich bei der Prüfung um die </label>
                <fieldset>
                    <label class="radio-inline">
                        @Html.RadioButtonFor(m => m.Exam.Repetition, 0) Semesterprüfung
                    </label>
                    <label class="radio-inline">
                        @Html.RadioButtonFor(m => m.Exam.Repetition, 1) 1. Wiederholung
                    </label>
                    <label class="radio-inline">
                        @Html.RadioButtonFor(m => m.Exam.Repetition, 2) 2. Wiederholung
                    </label>
                </fieldset>
            </div>
            <div class="form-group">
                <label>@Html.CheckBoxFor(m => m.Exam.IsPcExam) Die Prüfung wird am PC durchgeführt</label>
                @Html.TextBoxFor(m => m.Exam.Software, new { @class = "form-control", @placeholder = "Word, etc." })
            </div>
        </div>

        <span asp-validation-for="@Model.Exam" class="text-danger"></span>

        <div>
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-danger btn-block btn-lg exam-body" type="submit">Verbindlich zur Prüfung anmelden</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <br />
                    <a class="btn btn-primary btn-block btn-lg" asp-action="Index"><span class="glyphicon glyphicon-arrow-left"></span> Zurück zum Dashboard</a>
                </div>
            </div>
        </div>
    </form>
</div>
<br />
<br />
<br />