﻿@model Nost.Web.Models.Admin.DepartmentViewModel

@{
    ViewData["Title"] = "Admin - Abteilungen";
}

<br />

<ol class="breadcrumb">
    <li><a asp-action="Index">Dashboard</a></li>
    <li class="active">Abteilungen</li>
</ol>

<br />
<h2>Abteilungen</h2>


<div class="well">
    @if (Model.EditedDepartment == null)
    {
        <h4>Neue Abteilung:</h4>
        <form asp-action="CreateDepartment">
            <div class="form-group">
                <label asp-for="NewDepartment.DepartmentShortcut"></label>
                <input type="text" class="form-control" asp-for="NewDepartment.DepartmentShortcut" placeholder="LDAP Kürzel z.B. IT, IN etc." />
            </div>
            <div class="form-group">
                <label asp-for="NewDepartment.DepartmentName"></label>
                <input type="text" class="form-control" asp-for="NewDepartment.DepartmentName" placeholder="Abteilungnsname" />
            </div>
            <button class="btn btn-block btn-primary">Erstellen</button>
        </form>
    }
    else
    {
        <h4>Abteilung bearbeiten:</h4>
        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Achtung!</strong> Dies ändert auch alle bestehenden Prüfungsanmeldungen in dieser Abteilung.
        </div>
        <form asp-action="EditDepartment" method="post">
            <div class="form-group">
                @Html.HiddenFor(m => m.EditedDepartment.Id)
                <label asp-for="EditedDepartment.DepartmentShortcut"></label>
                <input type="text" class="form-control" asp-for="EditedDepartment.DepartmentShortcut" placeholder="Abteilungskürzel" />
                <label asp-for="EditedDepartment.DepartmentName"></label>
                <input type="text" class="form-control" asp-for="EditedDepartment.DepartmentName" placeholder="Abteilungsname" />
            </div>
            <div class="row">
                <div class="col-md-6">
                    <button class="btn btn-block btn-primary btn-lg">Speichern</button>
                </div>
                <div class="col-md-6">
                    <button asp-action="DepartmentList" class="btn btn-block btn-danger btn-lg">Abbrechen</button>
                </div>
            </div>
        </form>
    }
</div>

<table class="table table-responsive table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(m => m.Departments[0].DepartmentShortcut)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Departments[0].DepartmentName)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Departments)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentShortcut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentName)
            </td>
            <td>
                <div class="row">
                    <div class="col-md-3">
                        @Html.ActionLink("Bearbeiten", nameof(Nost.Web.Controllers.AdminController.EditDepartment), new { editDepartmentId = item.Id })
                    </div>
                    <div class="col-md-3">
                        <form asp-action="@nameof(Nost.Web.Controllers.AdminController.DeleteDepartment)" asp-route-departmentId="@item.Id" method="post">
                            <div class="input-group">
                                <button class="btn btn-danger" type="button" data-toggle="modal" data-target="#confirmModal_@item.Id">
                                    <span class="glyphicon glyphicon-trash"></span>&nbsp;Löschen
                                </button>
                                <div class="modal fade" id="confirmModal_@item.Id" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                                <h4 class="modal-title" id="confirmModalLabel">Löschen bestätigen</h4>
                                            </div>
                                            <div class="modal-body">
                                                Sind Prüfungen oder Gegenstände betroffen wird die Abteilung NICHT gelöscht
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
                                                <input type="submit" value="Löschen" class="btn btn-danger" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </td>
        </tr>
        }
    </tbody>
</table>
