﻿@model Nost.Web.Models.Admin.ExamAppointmentViewModel

@{
    ViewData["Title"] = "Prüfungstermine";
}
<h2>Prüfungstermine</h2>

<ol class="breadcrumb">
    <li><a asp-action="Index">Dashboard</a></li>
    <li class="active">Prüfungstermine</li>
</ol>

<br />
@if (Model.SelectedDeleteAppointment != null)
{
    <form asp-action="DeleteSelectedExamAppointment">
        @Html.HiddenFor(m => m.SelectedDeleteAppointment.Id)
        <div class="alert alert-danger">
            <h3>Dieser Prüfungstermin hat bereits Anmeldungen</h3>
            <h4>
                <b>JA</b> ich habe die Schüler informiert und möchte alle Prüfungen zu @Model.SelectedDeleteAppointment.ExamAppointmentDate.ToShortDateString()
                &nbsp;<button class="btn btn-danger">archivieren</button>
            </h4>
        </div>
        <button asp-action="ExamAppointmentList" class="btn btn-primary btn-block">Abbrechen</button>
        <br />
        <hr />
    </form>
}
else if (Model.EditAppointment == null)
{
    <a class="btn btn-primary" role="button" data-toggle="collapse" href="#collapseCreateSemesterEnd" aria-expanded="false" aria-controls="collapseCreateSemesterEnd">
        Neuer Prüfungstermin
    </a>
    <div class="collapse" id="collapseCreateSemesterEnd">
        <div class="well">
            <h4>Neuer Prüfungstermin:</h4>
            <form asp-action="CreateExamAppointment">
                <div class="form-group">
                    <label asp-for="NewExamAppointment.ExamAppointmentDate"></label>
                    <input type="date" class="form-control" asp-for="NewExamAppointment.ExamAppointmentDate" />
                </div>
                <div class="form-group">
                    <label asp-for="NewExamAppointment.ExpireDate"></label>
                    <input type="date" class="form-control" asp-for="NewExamAppointment.ExpireDate" />
                </div>
                <button class="btn btn-block btn-primary">Erstellen</button>
            </form>
        </div>
    </div>
}
else
{
    <div class="well">
        <h4>Prüfungstermin bearbeiten:</h4>
        <form asp-action="EditExamAppointment" method="post">
            @Html.HiddenFor(m => m.EditAppointment.Id)
            <div class="form-group">
                <label asp-for="EditAppointment.ExamAppointmentDate"></label>
                <input type="date" class="form-control" asp-for="EditAppointment.ExamAppointmentDate" />
            </div>
            <div class="form-group">
                <label asp-for="EditAppointment.ExpireDate"></label>
                <input type="date" class="form-control" asp-for="EditAppointment.ExpireDate" />
            </div>
            <div class="form-group">
                <label><input type="checkbox" class="form-control" asp-for="EditAppointment.Archived" /> Archiviert</label>
            </div>
            <button class="btn btn-primary">Speichern</button>
            <button class="btn btn-danger" asp-action="ExamAppointmentList">Abbrechen</button>
        </form>
    </div>
}


<h4>Bevorstehende Prüfungstermine</h4>
<table class="table table-responsive table-condensed">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NewExamAppointment.ExamAppointmentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NewExamAppointment.ExpireDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ExamAppointments)
        {
            if (item.ExamAppointmentDate >= DateTime.Today)
            {
        <tr>
            @if (item.Archived)
    {
        <td style="text-decoration: line-through">

            @item.ExamAppointmentDate.ToString("dd.MM.yyyy")
        </td>
}
else
{
        <td>
            @Html.DisplayFor(m => item.ExamAppointmentDate)
        </td>
}


            <td>
                @Html.DisplayFor(m => item.ExpireDate)
            </td>

            <td class="pull-right">
                <a asp-action="EditExamAppointment" asp-route-examAppointmentId="@item.Id" class="btn btn-primary">Bearbeiten</a>
                <a asp-action="DownloadExamAppointmentPdf" asp-route-examAppointmentId="@item.Id" class="btn btn-success">Prüfungszettel downloaden</a>
                <a asp-action="FilteredRegisteredExamList" asp-route-examAppointmentId="@item.Id" class="btn btn-info">Prüfungen anzeigen</a>
                <form asp-action="DeleteExamAppointment" asp-route-examAppointmentId="@item.Id" method="post" style="display: inline-flex">
                    <div class="input-group">
                        <button class="btn btn-danger">
                            <span class="glyphicon glyphicon-trash"></span>&nbsp;Löschen
                        </button>
                    </div>
                </form>
            </td>
        </tr>
            }
        }
    </tbody>
</table>
<br />

<h4>Abgelaufene Prüfungstermine</h4>
<div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-6">
        <form asp-action="DeleteOldExams" method="post">
            <div class="input-group">
                <div class="input-group-addon">Früher als </div>
                <input type="date" class="form-control" placeholder="Bis..." name="deleteToDate">
                <div class="input-group-btn">
                    <button class="btn btn-danger" type="button" data-toggle="modal" data-target="#confirmModal">
                        <span class="glyphicon glyphicon-trash"></span>&nbsp;Alte Prüfungen löschen
                    </button>
                </div>
                @*@Html.ValidationMessage("DeleteOldExams");*@

                @* Delete confirm Modal *@
                <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel">
                    <div class="modal-dialog modal-sm" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title" id="confirmModalLabel">Löschen bestätigen</h4>
                            </div>
                            <div class="modal-body">
                                Möchten Sie wirklich alle Prüfungen
                                vor diesem Datum
                                löschen?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
                                <input type="submit" value="Löschen" class="btn btn-danger" />
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            @Html.ValidationMessage("DeleteOldExams")
        </form>
    </div>
</div>
<table class="table table-responsive table-condensed">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NewExamAppointment.ExamAppointmentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NewExamAppointment.ExpireDate)
            </th>
            <th>
            <th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ExamAppointments)
        {
            if (item.ExamAppointmentDate < DateTime.Today)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ExamAppointmentDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ExpireDate)
                    </td>
                    <td class="pull-right">
                        <form asp-action="DeleteExamAppointment" asp-route-examAppointmentId="@item.Id" method="post" style="display: inline-flex;">
                            <div class="input-group">
                                <button class="btn btn-danger">
                                    <span class="glyphicon glyphicon-trash"></span>&nbsp;Löschen
                                </button>
                            </div>
                        </form>

                        <a asp-action="FilteredRegisteredExamList" asp-route-examAppointmentId="@item.Id" class="btn btn-info">Prüfungen anzeigen</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>