﻿@{
    ViewData["Title"] = "Admin Dashboard";
}

<br />
<br />
<br />
<h1>Admin Dashboard</h1>
<br />

@section Styles{
    <style>
        .admin-button {
            height: 120px;
        }
    </style>
}

    <div class="row">
        <div class="col-sm-6">
            <a asp-action="SelectStudent" class="btn btn-primary btn-block admin-button">
                <h3>
                    <span class="glyphicon glyphicon-edit"></span>
                    <span>Manuelle Prüfungseingabe</span>
                </h3>
                <span>(Prüfung für einen Schüler erstellen)</span>
            </a>
        </div>
        <div class="col-sm-6">
            <a asp-action="RegisteredExamList" class="btn btn-info btn-block admin-button">
                <h3>
                    <span class="glyphicon glyphicon-inbox"></span>
                    <span>Angemeldete Prüfungen</span>
                </h3>
                <span>(Prüfungen als CSV herunterladen, alte Prüfungen löschen)</span>
            </a>
        </div>
    </div>
<br />
<div class="row">
    <div class="col-sm-6">
        <a asp-action="SemesterEndList" class="btn btn-default btn-block admin-button">
            <h3>
                <span class="glyphicon glyphicon-flag"></span>
                <span>Semesterenden (Zeugnistage) verwalten</span>
            </h3>
            <span>(Zeugnistage eintragen oder löschen)</span>
        </a>
    </div>
    <div class="col-sm-6">
        <a asp-action="SubjectList" class="btn btn-default btn-block admin-button">
            <h3>
                <span class="glyphicon glyphicon-briefcase"></span>
                <span>Gegenstände verwalten</span>
            </h3>
            <span>(Gegenstände hinzufügen, bearbeiten oder löschen)</span>
        </a>
    </div>
</div>
<br />
<div class="row">
    <div class="col-sm-6">
        <a asp-action="TeacherList" class="btn btn-default btn-block admin-button">
            <h3>
                <span class="glyphicon glyphicon-user"></span>
                <span>Lehrer anzeigen</span>
            </h3>
            <span>(Lehrer anzeigen, Lehrer archivieren)</span>
        </a>
    </div>
    <div class="col-sm-6">
        <a asp-action="ExamAppointmentList" class="btn btn-default btn-block admin-button">
            <h3>
                <span class="glyphicon glyphicon-book"></span>
                <span>Prüfungstermine</span>
            </h3>
            <span>(Neue Prüfungstermine anlegen,<br /> Prüfungstermine bearbeiten und löschen)</span>
        </a>
    </div>
</div>
<br />
<div class="row">
    <div class="col-sm-12">
        <a asp-action="RefreshData" class="btn btn-warning btn-block admin-button">
            <h3>
                <span class="glyphicon glyphicon-refresh"></span>
                <span>Daten aus LDAP migrieren</span>
            </h3>
            <span>(Daten aus LDAP übernehmen)</span>
        </a>
    </div>
</div>
<br />
<div class="row">
    <div class="col-sm-6">
        <a asp-action="Settings" class="btn btn-default btn-block admin-button">
            <h3>
                <span class="glyphicon glyphicon-cog"></span>
                <span>Einstellungen</span>
            </h3>
            <span>(Prüfungsabmeldefrist)</span>
        </a>
    </div>

    <div class="col-sm-6">
        <a asp-action="DepartmentList" class="btn btn-default btn-block admin-button">
            <h3>
                <span class="glyphicon glyphicon-home"></span>
                <span>Abteilungen anzeigen</span>
            </h3>
            <span>(Abteilungen anzeigen)</span>
        </a>
    </div>
</div>