﻿@model Nost.Web.Models.AccountViewModels.LoginViewModel
@{
    ViewData["Title"] = "Migration - NOST";
}

<br />
<br />
<br />
<h1>Daten aus LDAP migrieren</h1>
<br />
<div class="row" style="height:282px;">
    <div class="col-md-6" style="height:100%;padding:5px;">
        <div class="panel @(null != Model && Model.IsValid?"panel-warning":"panel-danger")" style="height:100%;">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Login
                    @if (null != Model && !Model.IsValid)
                    {
                    <span style="font-weight:bold;">fehlgeschlagen</span>
                    }
                </h3>
            </div>
            <div class="panel-body @(null != Model && Model.IsValid?"bg-warning":"bg-danger")">
                <form method="post">
                    <div class="form-group">
                        <label asp-for="Username"></label>
                        <input asp-for="Username" class="form-control" />
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <br />
                    <div>
                        <button type="submit" class="btn @(null != Model && Model.IsValid?"btn-warning":"btn-danger") btn-block">Anmelden</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-6" style="height:100%;padding:5px;">
        <div class="well" style="height:100%;">
            <h3>Info</h3>
            <h4>Bitter melden Sie sich erneut mit ihrem Schulkonto an.</h4>
        </div>
    </div>
</div>