﻿@model IEnumerable<Nost.Core.Entities.Exam>
@{
    ViewData["Title"] = "Angemeldete Prüfungen - Admin";
}
<br />
<br />
<br />

@section Scripts
    {
    <link href="~/lib/jquery-ui/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <script type="text/javascript">
        $(document).ready(function () {
            $('.student-option').click(function () {
                var id = this.id.substr("option_".length);

                $('#options_' + id).toggle();
            });
        });
    </script>
}

<h2>Angemeldete Prüfungen</h2>

<ol class="breadcrumb">
    <li><a asp-action="Index">Dashboard</a></li>
    <li class="active">Angemeldete Prüfungen</li>
</ol>

<div class="row">
    <div class="col-md-6">

    </div>
    <div class="col-md-3">
        @using (Html.BeginForm("DownloadCsv", "Admin"))
        {
            <button class="btn btn-primary btn-block" type="submit" name="getAll" value="false"><span class="glyphicon glyphicon-save-file"></span>&nbsp;CSV herunterladen (Aktuelle)</button>
        }
    </div>

    <div class="col-md-3">
        @using (Html.BeginForm("DownloadCsv", "Admin"))
        {
            <button class="btn btn-primary btn-block" type="submit" name="getAll" value="true"><span class="glyphicon glyphicon-save-file"></span>&nbsp;CSV herunterladen (Alle)</button>
        }
    </div>
</div>

<br />


<table class="table table-striped table-responsive">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Student.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student.SchoolClass)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Appointment.ExamAppointmentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject.SubjectName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teacher.DisplayName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FailedTerm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FailedClass)
            </th>
            <th>
                Semesterende/<br />Zeugnistag
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Repetition)
            </th>
            <th>
                PC
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (item.Appointment.ExamAppointmentDate >= DateTime.Today)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Student.UserName)
                    </td>
                    <td title="@item.Student.FullName">
                        @Html.DisplayFor(modelItem => item.Student.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Student.SchoolClass)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Appointment.ExamAppointmentDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Subject.SubjectName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Teacher.DisplayName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FailedTerm)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FailedClass)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SemesterEnd.SemesterEndDate)
                    </td>
                    <td>
                        @switch (item.Repetition)
                        {
                            case 1:
                                <text>1. Wiederholung</text>
                                break;
                            case 2:
                                <text>2. Wiederholung</text>
                                break;
                            default:
                                <text>Semesterprüfung</text>
                                break;
                        }
                    </td>
                    <td>
                        @if (item.IsPcExam)
    {
                        <span class="glyphicon glyphicon-ok" title="PC Prüfung"></span>
}
else
{
                    <span class="glyphicon glyphicon-remove" title="Keine PC Prüfung"></span>
}
                    </td>
                    <td>
                        <button class="btn btn-sm btn-primary student-option" id="option_@item.Id" style="margin: 2px;"><span class="glyphicon glyphicon-option-horizontal"></span></button>

                        <div id="options_@item.Id" style="display: none;">
                            <a asp-action="DownloadSingleExamAppointmentPdf" asp-route-examId="@item.Id" class="btn btn-info btn-sm btn-block">
                                <span class="glyphicon glyphicon-download-alt"></span> Prüfungsformular herunterladen
                            </a>
                            <a asp-action="DownloadPdf" asp-route-examId="@item.Id" class="btn btn-primary btn-sm btn-block">
                                <span class="glyphicon glyphicon-download-alt"></span> Anmeldung herunterladen
                            </a>
                            <div class="input-group" style="width: 100%;margin-top:5px;">
                                <button class="btn btn-danger btn-sm btn-block" type="button" data-toggle="modal" data-target="#confirmModal_@item.Id">
                                    <span class="glyphicon glyphicon-trash"></span>&nbsp;Löschen
                                </button>
                                <div class="modal fade" id="confirmModal_@item.Id" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                                <h4 class="modal-title" id="confirmModalLabel">Löschen</h4>
                                            </div>
                                            <div class="modal-body">
                                                <p><b>Achtung!</b></p>
                                                <p>Prüfung wird endgültig gelöscht!</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
                                                <a asp-action="DeleteExam" asp-route-deleteId="@item.Id" class="btn btn-danger">Löschen</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>

                </tr>
            }
        }
    </tbody>
</table>


<br />
<h3>Abgelaufene Prüfungen</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Student.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student.SchoolClass)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Appointment.ExamAppointmentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject.SubjectName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teacher.DisplayName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FailedTerm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FailedClass)
            </th>
            <th>
                Semesterende/<br />Zeugnistag
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Repetition)
            </th>
            <th>
                PC
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (item.Appointment.ExamAppointmentDate < DateTime.Today)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Student.UserName)
                    </td>
                    <td title="@item.Student.FullName">
                        @Html.DisplayFor(modelItem => item.Student.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Student.SchoolClass)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Appointment.ExamAppointmentDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Subject.SubjectName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Teacher.DisplayName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FailedTerm)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FailedClass)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SemesterEnd.SemesterEndDate)
                    </td>
                    <td>
                        @switch (item.Repetition)
                        {
                            case 1:
                                <text>1. Wiederholung</text>
                                break;
                            case 2:
                                <text>2. Wiederholung</text>
                                break;
                            default:
                                <text>Semesterprüfung</text>
                                break;
                        }
                    </td>
                    <td>
                        @if (item.IsPcExam)
                        {
                            <span class="glyphicon glyphicon-ok" title="PC Prüfung"></span>
                        }
                        else
                        {
                            <span class="glyphicon glyphicon-remove" title="Keine PC Prüfung"></span>
                        }
                    </td>
                    <td>
                        @Html.ActionLink("Löschen", "DeleteExam", new { deleteId = item.Id })
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
