﻿@model Nost.Core.Entities.Student
@{
    ViewData["Title"] = "Schülerauswahl - NOST";
}

@section Scripts
    {
    <link href="~/lib/jquery-ui/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <script type="text/javascript">
        $(document).ready(function () {
            $('#FullName').autocomplete({
                source: '/Admin/GetStudents',

                select: function (event, ui) {
                    //set tagids to save
                    $("#Id").val(ui.item.id);
                    console.log(ui.item.value);
                    console.log(ui.item.id);
                    //Tags for display
                    this.value = ui.item.value;

                    return false;
                }
            }).focus(function () {
                $(this).autocomplete("search", "*");
            });
        });


    </script>
}

<h2>Wählen Sie einen Schüler aus</h2>
<form asp-action="SelectStudent" method="post">

    <div class="form-group form-group-lg row">
        @Html.HiddenFor(m => m.Timestamp)

        <div class="col-sm-12">
            <h3>
                <label class="col-form-label">Name:</label>

                @Html.HiddenFor(model => model.Id)
                @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Wählen Sie einen Schüler aus der Liste aus" } })

            </h3>
            <span asp-validation-for="@Model.Id" class="text-danger"></span>

        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6">
                    <button class="btn btn-block btn-default btn-lg" asp-action="Index">Zurück</button>
                </div>
                <div class="col-md-6">
                    <button class="btn btn-block btn-primary btn-lg">Weiter</button>
                </div>
            </div>
        </div>
    </div>
</form>