﻿@model Nost.Web.Models.Admin.SemesterEndListViewModel
@{
    ViewData["Title"] = "Semester Ende - Admin";
}
<h2>Semester Ende</h2>

<ol class="breadcrumb">
    <li><a asp-action="Index">Dashboard</a></li>
    <li class="active">Semester Enden</li>
</ol>

<br />
@if (Model.EditSemesterEnd == null)
{
    <a class="btn btn-primary" role="button" data-toggle="collapse" href="#collapseCreateSemesterEnd" aria-expanded="false" aria-controls="collapseCreateSemesterEnd">
        Neues Semesterende
    </a>
    <div class="collapse" id="collapseCreateSemesterEnd">
        <div class="well">
            <h4>Neues Semesterende:</h4>
            <form asp-action="CreateSemesterEnd">
                <div class="form-group">
                    <label asp-for="NewSemesterEnd.SemesterEndDate"></label>
                    <input type="date" class="form-control" asp-for="NewSemesterEnd.SemesterEndDate" />
                </div>
                <button class="btn btn-block btn-primary">Erstellen</button>
            </form>
        </div>
    </div>
}
else
{
    <div class="well">
        <h4>Semesterende bearbeiten:</h4>
        <form asp-action="EditSemesterEnd">
            @Html.HiddenFor(m=>m.EditSemesterEnd.Id)
            <div class="form-group">
                <label asp-for="EditSemesterEnd.SemesterEndDate"></label>
                <input type="date" class="form-control" asp-for="EditSemesterEnd.SemesterEndDate" />
            </div>
            <button class="btn btn-block btn-danger">Speichern</button>
            <button asp-action="SemesterEndList" class="btn btn-block btn-primary">Abbrechen</button>
        </form>
    </div>
}


<table class="table table-responsive table-condensed">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NewSemesterEnd.SemesterEndDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.SemesterEnds)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SemesterEndDate)
                </td>
                <td><a asp-action="EditSemesterEnd" asp-route-semesterEndId="@item.Id" class="btn btn-primary pull-right">Bearbeiten</a></td>
                <td>
                    <form asp-action="DeleteSemesterEnd" asp-route-semesterEndId="@item.Id" method="post">
                        <div class="input-group">
                            <button class="btn btn-danger" type="button" data-toggle="modal" data-target="#confirmModal_@item.Id">
                                <span class="glyphicon glyphicon-trash"></span>&nbsp;Löschen
                            </button>
                            <div class="modal fade" id="confirmModal_@item.Id" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            <h4 class="modal-title" id="confirmModalLabel">Löschen bestätigen</h4>
                                        </div>
                                        <div class="modal-body">
                                            Sollten Prüfungen davon betroffen sein, wird dieser Termin nicht gelöscht
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
                                            <input type="submit" value="Löschen" class="btn btn-danger" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
