﻿@model Nost.Web.Models.Admin.SettingsViewModel
@{
    ViewData["Title"] = "Einstellungen - NOST";
}

<br />
<ol class="breadcrumb">
    <li><a asp-action="Index">Dashboard</a></li>
    <li class="active">Einstellungen</li>
</ol>

<h2>Einstellungen</h2>
<form asp-action="Settings" method="post">
    <div class="form-group">
        <label>Prüfungsabmeldeschluss in Tagen</label>
        @Html.TextBoxFor(m => m.ExamLastDeleteDays, new { @class = "form-control", @type = "number", @min = "0", @max = "365" })
    </div>
    <button class="btn btn-primary btn-block">Übernehmen</button>
</form>
