﻿@model Nost.Web.Models.Admin.SubjectViewModel

@{
    ViewData["Title"] = "Admin - Gegenstände";
}

@section Scripts
    {
    <link href="~/lib/jquery-ui/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <script type="text/javascript">
        $('tr:not(.' + document.getElementById('select-dept').options[document.getElementById('select-dept').selectedIndex].value + ')').hide();
        $('.' + document.getElementById('select-dept').options[document.getElementById('select-dept').selectedIndex].value).show();


        $('#select-dept').on('change',
            function () {
                $('tr:not(.' + document.getElementById('select-dept').options[document.getElementById('select-dept').selectedIndex].value + ')').hide();
                $('.' + document.getElementById('select-dept').options[document.getElementById('select-dept').selectedIndex].value).show();
            }
        );

    </script>
}



<br />
<ol class="breadcrumb">
    <li><a asp-action="Index">Dashboard</a></li>
    <li class="active">Gegenstände</li>
</ol>

<br />
<div class="well">
    @if (Model.EditedSubject == null)
    {
        <h4>Neuer Gegenstand:</h4>
        <form asp-action="CreateSubject">
            <div class="row">
                <div class="form-group">
                    <div class="col-sm-6">
                        <label asp-for="NewSubject.SubjectName"></label>
                        <input type="text" class="form-control" asp-for="NewSubject.SubjectName" placeholder="Gegenstandsname" />
                    </div>
                    <div class="col-sm-6">
                        <label asp-for="NewSubject.Department.DepartmentName"></label>
                        <select asp-items="@Model.Departments" asp-for="NewSubject.DepartmentId" id="select-dept" class="form-control"></select>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-block btn-primary">Erstellen</button>
                </div>
            </div>
        </form>
    }
    else
    {
        <h4>Gegenstand bearbeiten:</h4>
        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Achtung!</strong> Dies ändert auch alle bestehenden Prüfungsanmeldungen mit diesem Gegenstand.
        </div>
        <form asp-action="EditSubject">
            @Html.HiddenFor(m => m.EditedSubject.Id)
            <div class="form-group">
                <div class="col-sm-6">
                    <label asp-for="NewSubject.SubjectName"></label>
                    <input type="text" class="form-control" asp-for="EditedSubject.SubjectName" placeholder="Gegenstandsname" />
                </div>
                <div class="col-sm-6">
                    <label asp-for="NewSubject.Department.DepartmentName"></label>
                    <select asp-items="@Model.Departments" asp-for="EditedSubject.DepartmentId" class="form-control"></select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    <label for="SubjectArchived">Archivieren</label>
                    <input id="SubjectArchived" type="checkbox" asp-for="EditedSubject.Archived" placeholder="Archivieren" />
                </div>
            </div>

            <br />
            <div class="row">
                <div class="col-md-6">
                    <button class="btn btn-block btn-primary btn-lg">Speichern</button>
                </div>
                <div class="col-md-6">
                    <button asp-action="SubjectList" class="btn btn-block btn-danger btn-lg">Abbrechen</button>
                </div>
            </div>
        </form>
    }
</div>

<h2>Gegenstände</h2>

<table class="table table-responsive table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Subjects[0].SubjectName)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Subjects[0].Department.DepartmentName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Subjects)
        {
            <tr class="@item.DepartmentId">

                @if (item.Archived)
                {
                    <td style="text-decoration: line-through">
                        @Html.DisplayFor(modelItem => item.SubjectName)
                    </td>
                }
                else
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.SubjectName)
                    </td>
                }

                <td>
                    @Html.DisplayFor(modelItem => item.Department.DepartmentName)
                </td>

                <td>
                    <div class="row">
                        <div class="col-md-3">
                            @Html.ActionLink("Bearbeiten", "EditSubject", new { editSubjectId = item.Id })
                        </div>
                        <div class="col-md-3">
                            <form asp-action="DeleteSubject" asp-route-subjectId="@item.Id" method="post">
                                <div class="input-group">
                                    <button class="btn btn-danger" type="button" data-toggle="modal" data-target="#confirmModal_@item.Id">
                                        <span class="glyphicon glyphicon-trash"></span>&nbsp;Löschen
                                    </button>
                                    <div class="modal fade" id="confirmModal_@item.Id" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                    <h4 class="modal-title" id="confirmModalLabel">OK</h4>
                                                </div>
                                                <div class="modal-body">
                                                    Falls Prüfungen zu diesem Fach existieren, wird das Fach archiviert.
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
                                                    <input type="submit" value="Löschen" class="btn btn-danger" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </td>
            </tr>

        }
    </tbody>
</table>
