﻿@model Nost.Web.Models.Admin.TeacherListViewModel
@{
    ViewData["Title"] = "Admin - Lehrer";
}

@section Scripts
    {
    <link href="~/lib/jquery-ui/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <script type="text/javascript">
        //function hide() {
        //    if ($(this).is(':checked')) {
        //        $('.columnHidable').show();
        //    } else {
        //        $('.columnHidable').hide();
        //    }
        //}
        //hide();
        //$('#showArchived').click(hide);

    </script>
}

    <br />
<div class="alert alert-warning">
    Lehrer können unter dem Menüpunkt <b>Daten aus LDAP migrieren</b> importiert/aktualisiert werden
</div>

<ol class="breadcrumb">
    <li><a asp-action="Index">Dashboard</a></li>
    <li class="active">Lehrer</li>
</ol>

<div style="text-align: right; width: 100%;">
    @*<label for="showArchived">Archivierte Lehrer anzeigen</label>*@
   
        @*<input id="showArchived" asp-for="@Model.CheckboxValue" type="checkbox" name="showArchived" />*@
   
</div>

<h2>Lehrer</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Teachers[0].Cn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teachers[0].DisplayName)
            </th>
            <th class="columnHidable">
                @Html.DisplayNameFor(model => model.Teachers[0].Archived)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Teachers)
        {
            @if (item.Archived)
            {
                <tr class="columnHidable">
                    <td style="text-decoration: line-through">
                        @Html.DisplayFor(modelItem => item.Cn)
                    </td>
                    <td style="text-decoration: line-through">
                        @Html.DisplayFor(m => item.DisplayName)
                    </td>
                    <td class="columnHidable">
                        <a asp-action="UpdateTeacherArchived" asp-route-teacherId="@item.Id" class="btn btn-default btn-sm">Wiederherstellen</a>

                    </td>
                </tr>
            }
            else
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cn)
                    </td>
                    <td>
                        @if (Model.GetPrevious(item) == null || Model.GetPrevious(item).DisplayName[0] != item.DisplayName[0])
                        {
                            <span style="font-weight: bold; color: darkblue;">@item.DisplayName[0]</span><span>@item.DisplayName.Substring(1)</span>
                        }
                        else
                        {
                            @Html.DisplayFor(m=>item.DisplayName)
                        }
                    </td>
                    <td class="columnHidable">
                        <a asp-action="UpdateTeacherArchived" asp-route-teacherId="@item.Id" asp-route-checkbox="@Model.CheckboxValue" class="btn btn-danger btn-sm">Archivieren</a>
                    </td>
                </tr>
            }
        }
        </tbody>
    </table>
